.display-wrapper {
  width: 800px !important;
}
.display-questionnaire-wrapper {
  margin-bottom: 30px !important;
}

.display-question-wrapper {
  margin-bottom: 25px !important;
  background-color: #ebebeb !important;
}